body {
    background-color: red;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

.cart_form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(56, 0, 0);
    margin: 15px;
    padding: 15px;
}

.checkout_form {

}