body {
    background-color: red;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

header {
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(66, 66, 66));
    box-shadow: 0 4px 8px 0 rgb(56, 0, 0); 
}

.cart_form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(56, 0, 0);
    margin: 15px;
    padding: 15px;
    border-color: black;
    border-style: solid;
}

.checkout_form {

}

#navbar {
    background-color: rgb(36, 36, 36);
    text-align: right;
    box-shadow: 0 4px 8px 0 rgb(56, 0, 0);
    margin: 0;
    padding: 2px;
    color:white;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.element {
    text-decoration: none;
    margin:0;
    padding: 10px;
    font-size: 120%;
}

.container {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}

.item1 {
    flex: 50%;
}

.item2 {
    flex: 50%;
}

.pokemon {
    width: 80%;
    height:auto;
    float:right;
}

.pokemon_cart {
    width: 60%;
    height:auto;
    float:right;
}

