body {
    background-color: rgb(255, 187, 0);
    margin: 0;
    padding: 0;
}

.parking_center {
    text-align: center;
}

.my_layout {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}