body {
    background-color: dimgrey;
    margin:0;
    padding:0;
}

header {
    background-image: linear-gradient(yellow, rgb(255, 187, 0));
    margin:0;
    padding: 15px;
    text-align: center;
}