body {
    background-color: dimgrey;
    margin:0;
    padding:0;
}

header {
    flex-wrap:wrap;
    background-image: linear-gradient(rgb(41, 165, 4), rgb(25, 95, 3));
    margin:0;
    padding: 15px;
    font-size: 3vw;
    text-align: center;
    box-shadow: 0 4px 8px 0 black;
}

#navbar {
    margin: 0;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 4px 8px 0 black;
}

.element {
    text-decoration: none;
    color: white;
    margin:0;
    padding: 10px;
}

.element:hover {
    box-shadow: 0 4px 8px 0 black;
    background-color: rgb(131, 131, 131); 
    color: black;
}

#me {
    margin:15px;
    float: left;
    width: 30%;
    height: auto;
    box-shadow: 0 4px 8px 0 black;
}

#myname {
    width:40%;
    float: right;
    background-color: white;
}