body {
    background-color: dimgrey;
    margin:0;
    padding:0;
}

header {
    flex-wrap:wrap;
    background-image: linear-gradient(rgb(75, 130, 175), rgb(33, 57, 77));
    margin:0;
    padding: 15px;
    font-size: 200%;
    text-align: center;
    box-shadow: 0 4px 8px 0 black;
}

#navbar {
    margin: 0;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 4px 8px 0 black;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.element {
    text-decoration: none;
    color: white;
    margin:0;
    padding: 10px;
}

.element:hover {
    box-shadow: 0 4px 8px 0 black;
    background-color: rgb(131, 131, 131); 
    color: black;
}

#me {
    margin:15px;
    float: left;
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(32, 32, 32);
}

.data {
    border-style: none;
    box-shadow: 0 4px 8px 0 rgb(53, 43, 31);
    background-image: linear-gradient(rgb(75, 130, 175), rgb(33, 57, 77))
}

.container {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}

.item_left {
    flex: 30%;
}

.item_right {
    flex: 70%;
}

.sub_container {
    margin:15px;
    padding:15px;
    background-color:rgb(224, 189, 143);
    box-shadow: 0 4px 8px 0 rgb(53, 43, 31);
}


.info {
    padding: 0;
    margin:0;
}

.info_title {
    text-align: center;
    font-size: 150%;
}

.info_text {
    font-size: 130%;
}

hr {
    border-style: solid;
    background-color: black;
}

footer {
    box-shadow: 0 4px 8px 0 black;
    background-image: linear-gradient(rgb(33, 57, 77), rgb(75, 130, 175));
    margin: 0;
    padding: 10px;
    text-align: center;
}

/*iphone 5 and 5s and iphone 6, 7, 8*/
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .container {
        flex-direction: column;
    }
    .info_title {
        font-size: 70%;
    }
    .info_text {
        font-size: 100%;
    }
    header {
        font-size: 80%;
    }
    footer {
        font-size: 80%;
    }
}

/*iphone X*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
    .container {
        flex-direction: column;
    }
    .info_title {
        font-size: 70%;
    }
    .info_text {
        font-size: 100%;
    }
    header {
        font-size: 80%;
    }
    footer {
        font-size: 80%;
    }
}

@media only screen and (min-device-width : 813px) and (max-width: 935px) {
    .info_title {
        font-size: 80%;
    }
    .info_text {
        font-size: 80%
    }
    #me {
        width: 95%;
    }
    header {
        font-size: 150%;
    }
    footer {
        font-size: 60%;
    }

}